.card_header {
    display: flexbox;
    font-size: 25px;
    color: black;
    font-weight: bolder;
    width: 15vw;
  
  }
  .another{
    font-family: 'Open Sans',sans-serif;
    padding-left: 2%;
  }
  .card_title {
    font-weight: bold;
    font-size: 15px;
    padding-top: 2%;
    padding-left: 2%;
    text-align: left;
  }
  